
.input__field,
.select__field {
  width: 100%;
}

.filter {
  
  margin: 50px auto;
  width: 500px;
  padding: 10px;
  background: #eee;
  border: 1px solid #ddd;
  
  &__field {
    display: inline-block;
    width: 240px;
    padding: 0 5px;
  }
}

.chart {
  
  margin: 50px auto;
  width: 500px;
  
  &__labels {
      display: inline-block;
      vertical-align: top;
      margin: 20px 0 0 20px;
  }
}
  
.grid {
  
  margin: 50px auto;
  width: 500px;
  
  .currency {
    
    margin: 10px 0;
    
    .checkbox {
      width: 355px;
      text-align: right;
      display: inline-block;
    }
  }
  
  .table {
    
    border-collapse: collapse;
    
    &__header {
      border-bottom: 1px solid #ccc;
      font-weight: bold;
    }
    
    &__header-cell,
    &__body-cell,
    &__footer-cell {
      padding: 5px;
    }
    
    &__header-cell--asc,
    &__header-cell--desc {
      &:after {
        content: '';
        display: inline-block;
        margin: 0 0 0 5px;
        vertical-align: middle;
      }
    }
    
    &__header-cell--asc:after {
      border: 5px solid transparent;
      border-top: 5px solid black;
    }
    
    &__header-cell--desc:after {
      border: 5px solid transparent;
      border-bottom: 5px solid black;
    }
    
    .input__field {
    
      border: none;
      cursor: pointer;
      
      &:focus {
        cursor: text;
      }
    }
  }
}

